body {
    background-color: rgb(44, 96, 242);
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    margin: 0;
    margin-bottom: 5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 70px;
    font: rgb(255, 255, 255);
}

#show-results {
    width: 20px;
    height: 20px;
}

.button {
    font-size: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255);
}

.modal-hidden {
    font-size: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    color:rgb(44, 96, 242);
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.model-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* #positive {
    background-color: green;
}

#neutral {
    background-color: yellow;
}

#negative {
    background-color: red;
} */